*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
/.externalNativeBuild/
/.cxx/

# Android Studio and local machine files
local.properties

# Generated Android build output
app/build/
